* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 1em;
}

/* Estilização do Cabeçalho e Rodapé */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_infocefet {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo_infocefet img {
    height: 4.5rem;
}

.titulo_e_sub {
    text-align: right;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: .4rem;
}

/* Dados do Estagiário e campo de texto cabecalho*/
main {
    margin-top: 2rem;
}

.dados_estagiario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.campo_texto {
    padding: .2rem;
    flex-grow: 1;
    display: flex;
}

.campo_texto label {
    font-weight: bold;
    padding-right: .3rem;
}

.campo_texto input {
    border: none;
    flex-grow: 1;
    border-bottom: 1px dashed black;
    outline: none;
}

.campo_texto input:is(:focus-within) {
    border-width: 2px;
}

.campo_texto:has(#nome_estagiario, #curso_estagiario) {
    min-width: 45vw;
    flex-grow: 2;
}

/* Tabela */
.tabela_presenca {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.tabela_presenca thead tr th {
    padding: .6rem;
}

.tabela_presenca thead tr th:nth-child(1) {
    width: 12%;
}

.tabela_presenca thead tr th:nth-child(2) {
    width: 5%;
}

.tabela_presenca thead tr th:nth-child(3) {
    width: 55%;
}

.tabela_presenca thead tr th:nth-child(4)
{
    width: 8%;
}

.tabela_presenca thead tr th:is(:nth-child(5), :nth-child(6))
{
    width: 10%;
}

.campo_tabela {
    width: 100%;
    height: calc(4vh + 1rem);
    padding: .5rem;
    font-size: 1rem;
    box-sizing: border-box;
    border: none;
    appearance: none;
    text-align: center;
}

.campo_tabela[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.freq_fileira {
    display: grid;
    width: 100%;
    border: none;
    grid-template-columns: repeat(31, 1fr);
    padding: 0;
}

.freq_box {
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.freq_box:first-child {
    border-left: none;
}

.freq_box span {
    font-weight: bold;
    font-size: .8rem;
}

.freq_box select {
    border: none;
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 4vh;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;

}

noscript div {
    border: 1px solid black;
    border-top: none;
    padding: .6rem;
    text-align: center;
}

/* Parte Inferior */
.presencas_e_totais {
    display: flex;
    margin-top: .5rem;
}

.presencas {
    width: 67%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    font-size: 1rem;
}

.presencas label {
    text-align: center;
}

.totais {
    width: 33%;
    display: flex;
    align-items: center;
}

.totais label {
    width: 15.1515%;
}

.totais .tabela {
    display: inline-table;
    border-collapse: collapse;
    border: 1px solid black;
    width: 84.8484848%;
}

.totais .tabela div {
    border: 1px solid black;
    display: table-cell;
    text-align: center;
    font-size: 1rem;
    height: calc(4vh + 1rem);
    width: 35.715%;
}

.totais .tabela div:first-child {
    width: 28.57%;
}

.obs {
    width: fit-content;
    text-align: center;
    font-size: 1.03rem;
    margin-top: 1.5rem;
    margin-left: 4.5rem;
}